.button-rectangle {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 45px;
  padding-right: 45px;
  cursor: pointer;
  text-transform: uppercase;
  color: $white-in-various-elements;
  outline: none;
  justify-content: center;
  align-items: center;
}

.button-rectangle--green {
  border: 2px solid $color-for-rectangle-button;
  background-color: $color-for-rectangle-button;

  @media (min-width: $tablet-width) {
    padding: 15px 55px;
  }

  &:hover {
    border: 2px solid $color-for-active-rectangle-button;
    background-color: $color-for-active-rectangle-button;
  }

  &:active {
    color: rgba($white-in-various-elements, 0.3);
  }
}

.button-rectangle--green:disabled {
  color: $white-in-various-elements;
  border: 2px solid $grey-in-various-elements;
  background-color: $grey-in-various-elements;
}

.button-rectangle--modal-window {
  margin-right: 22px;
  margin-left: 22px;

  @media (min-width: $tablet-width) {
    padding-left: 135px;
    padding-right: 135px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 150px;
    padding-right: 150px;
  }
}

.button-rectangle--modal-window-sent {
  @media (min-width: $tablet-width) {
    padding: 15px 74px;
    margin-left: 80px;
    margin-right: 80px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 161px;
    margin-right: 161px;
  }
}
