.comments {
  position: relative;
  min-height: 287px;
  margin-bottom: 39px;
  padding-top: 28px;

  &::after {
    position: absolute;
    z-index: 2;
    top: 354px;
    left: 0;
    width: 0;
    height: 0;
    content: "";
    border-width: 25px 100vw 0 0;
    border-style: solid;
    border-color: $white-in-various-elements transparent transparent transparent;

    @media (min-width: $tablet-width) {
      top: 301px;
      border-width: 50px 100vw 0 0;
    }

    @media (min-width: $desktop-width) {
      top: 422px;
      border-width: 66px 100vw 0 0;
    }
  }

  @media (min-width: $tablet-width) {
    min-height: 257px;
    margin-bottom: 17px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: -2px;
    padding-top: 168px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &::before {
      position: absolute;
      top: 69px;
      left: 46%;
      width: 79px;
      height: 63px;
      content: url("../img/icon-quotes.svg");
    }
  }
}

.comments__list {
  position: relative;
  margin: 0;
  margin-bottom: 11px;
  padding: 0;
  list-style: none;

  @media (min-width: $desktop-width) {
    padding-right: 90px;
    padding-left: 90px;
    max-width: 960px;

    &::before {
      position: absolute;
      top: 48px;
      left: 0;
      width: 22px;
      height: 41px;
      content: url("../img/icon-review-arrow-left.svg");
    }
  }

  &::after {
    position: absolute;
    top: 48px;
    right: 0;
    width: 22px;
    height: 41px;
    content: url("../img/icon-review-arrow-right.svg");
  }
}

.comments__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.comments__caption {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 2px;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    order: 2;
  }

  @media (min-width: $desktop-width) {
    font-size: 24px;
    margin-bottom: -5px;
  }
}

.comments__text {
  line-height: 30px;
  position: relative;
  text-align: center;
  color: $dark-on-white;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    order: 1;
  }
}

.comments__job {
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  display: none;
  text-align: center;
  color: $dark-in-various-elements;

  @media (min-width: $tablet-width) {
    line-height: 18px;
    display: inline;
    margin-bottom: 21px;
    order: 3;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 18px;
  }
}
