.contacts-map-wrapper {
  margin: 0;
  padding: 0;
  position: relative;

  &:after {
    position: absolute;
    content: "";
    top: 413px;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 34px 160px 0 160px;
    border-color: $white-in-various-elements transparent transparent transparent;

    @media (min-width: $tablet-width) {
      top: 399px;
      border-width: 67px 330px 0 330px;
    }
    @media (min-width: $desktop-width) {
      top: 383px;
      border-width: 82px 480px 0 480px;
    }
  }
}

.contacts-map-wrapper__marker {
  position: absolute;
  top: 510px;
  left: 142px;
  content: "";
  width: 36px;
  height: 36px;
  @media (min-width: $tablet-width) {
    top: 595px;
    left: 312px;
  }
  @media (min-width: $desktop-width) {
    top: 629px;
    left: 462px;
  }
}

