.download {
  overflow: hidden;
  box-sizing: border-box;
  min-height: 667px;
  background-color: $menu-and-download-back;
  @media (max-width: $tablet-width - 1) {
    background-image: url("../img/bg-back-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-position: top 260px center;
    background-size: 100% auto;
  }
  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
    background-position: top 256px center;
    background-size: 700px auto;
  }
  @media(min-width: $tablet-width) {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 617px;
    padding-bottom: 94px;
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: top 254px center;
    justify-content: flex-start;
    align-items: flex-start;
  }

  @media(min-width: $tablet-width) and (min-resolution: $retina-dpi), (min-width: $tablet-width) and (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-back-tablet@2x.jpg");
    background-position: top -256px center;
    background-size: 100% auto;
  }
  @media(min-width: $desktop-width) {
    min-height: 744px;
    padding-top: 202px;
    padding-bottom: 104px;
    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: top -1px center;
    justify-content: flex-start;
  }

  @media(min-width: $desktop-width) and (min-resolution: $retina-dpi), (min-width: $desktop-width) and (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-back-desktop@2x.jpg");
    background-position: top 11px center;
    background-size: 2560px auto;
  }
}

.download__top-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 314px;
  margin-bottom: 23px;
  padding-top: 108px;
  justify-content: flex-end;
  @media(min-width: $tablet-width) {
    position: absolute;
    z-index: 1;
    bottom: -73px;
    left: -20px;
    min-height: inherit;
    background-image: none;
    order: 2;
  }
  @media(min-width: $desktop-width) {
    bottom: -103px;
    left: 27px;
  }
}

.download__intro {
  bottom: 0;
  @media(min-width: $tablet-width) {
    width: 700px;
    height: 545px;
  }
  @media(min-width: $desktop-width) {
    width: 1050px;
    height: 645px;
  }
}

.download__lower-wrapper {
  display: flex;
  flex-direction: column;
  padding-right: 20px;
  padding-bottom: 16px;
  padding-left: 20px;
  align-items: center;
  @media(min-width: $tablet-width) {
    z-index: 2;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    max-width: 51.4%;
    padding-top: 91px;
    padding-left: 22px;
    order: 1;
    justify-content: space-around;
  }
  @media(min-width: $desktop-width) {
    max-width: 33.4%;
    padding-top: 16px;
    padding-right: 10px;
    padding-left: 10px;
    justify-content: flex-start;
  }
}

@media(max-width: $tablet-width) and (min-width: $desktop-width) {
  .download__lower-wrapper br {
    display: none;
  }
}

.download__list {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  padding-right: 37px;
  padding-left: 37px;
  list-style: none;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  @media(min-width: $tablet-width) {
    margin-bottom: 29px;
    padding-right: 44px;
    padding-left: 46px;
  }
  @media(min-width: $desktop-width) {
    margin-bottom: 49px;
  }
}

.download__item {
  margin-right: 36px;
}

.download__item:last-child {
  margin-right: 0;
}

.download__text {
  text-align: center;

  color: $grey-in-various-elements;
  @media(min-width: $tablet-width) {
    font-size: 17px;
    margin: 0;
    padding: 0;
  }
}

.download__text--caption {
  display: none;
  @media(min-width: $tablet-width) {
    font-size: 40px;
    font-weight: 300;
    line-height: 48px;
    display: block;
    margin-bottom: 31px;
  }
  @media(min-width: $desktop-width) {
    font-size: 50px;
    line-height: 59px;
    margin-bottom: 53px;
  }
}
