.effect {
  position: relative;
  display: none;
  order: 3;
  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
outline: 1px solid red;
  }
  &:after {
    position: absolute;
    top: 58px;
    left: 22px;
    width: 238px;
    height: 276px;
    content: "";
    opacity: 0.1;
    background-image: url("../img/icon-timer.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 235px 277px;
    @media (min-width: $desktop-width) {
      top: 2px;
      left: 12px;
      width: 298px;
      height: 345px;
      background-size: 298px 345px;
    }
  }
  &:before {
    font-size: 96px;
    font-weight: 700;
    position: absolute;
    top: 114px;
    left: 40px;
    box-sizing: border-box;
    width: 202px;
    height: 202px;
    padding-top: 69px;
    padding-left: 28px;
    content: "24";
    color: $color-for-attention;
    border: 15px solid $color-for-attention;
    border-radius: 50%;
    @media (min-width: $desktop-width) {
      font-size: 120px;
      top: 73px;
      left: 33px;
      width: 253px;
      height: 253px;
      padding-top: 93px;
      padding-left: 42px;
    }
  }
  @media(min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    margin-bottom: 80px;
    padding-top: 60px;
    padding-left: 313px;
    background-color: $white-in-various-elements;
    justify-content: space-between;
  }
  @media(min-width: $desktop-width) {
    margin-bottom: 0;
    padding-top: 4px;
    padding-bottom: 111px;
    padding-left: 362px;
    background-color: $background-dark;
    justify-content: flex-start;
  }
}
.effect__wrapper {
  display: block;
  width: 800px;


}

.effect__clock {
  margin-right: 55px;
  @media(min-width: $desktop-width) {
    width: 298px;
    height: 345px;
  }
}

.effect__text-wrapper {
  margin: 0;
  padding: 0;
  padding-top: 35px;
  padding-right: 10px;
  padding-left: 16px;
  @media(min-width: $desktop-width) {
    padding-top: 91px;
    padding-left: 14px;
  }
}

.effect__caption {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  margin: 0;
  padding: 0;
  @media (min-width: $desktop-width) {
    margin-bottom: 23px;
  }
}

.effect__caption br {
  @media (min-width: $desktop-width) {
    display: none;
  }
}

.effect__text {
  line-height: 24px;
  margin-top: 11px;
  margin-bottom: 10px;
  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 30px;
  }
}

.effect__text br {
  display: none;
  @media (min-width: $desktop-width) {
    display: inline;
  }
}

.effect__link {
  line-height: 24px;
  color: $color-for-attention;
  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 30px;
  }
}
