.main-header {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  background-color: $menu-and-download-back;

  @media (min-width: $tablet-width) {
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    z-index: 4;
    top: 0;
    left: 50%;
    flex-direction: row;
    transform: translateX(-50%);
    background-color: transparent;
    flex-wrap: nowrap;
    width: 960px;
  }
}

.main-header__non-indexpage-wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    z-index: 4;
    top: 0;
    left: 50%;
    flex-direction: row;
    transform: translateX(-50%);
    background-color: transparent;
    flex-wrap: nowrap;
  }
}

.main-header__logo-wrapper {
  display: flex;
  flex-direction: row;
  padding-top: 22px;
  padding-right: 20px;
  padding-bottom: 25px;
  padding-left: 20px;
  justify-content: space-between;
  align-content: center;

  @media (min-width: $tablet-width) {
    padding-top: 27px;
    padding-bottom: 43px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 101px;
    padding-left: 10px;
  }
}

.main-header__logo-wrapper--non-indexpage {
  padding-bottom: 20px;
  @media (min-width: $tablet-width) {
    padding-bottom: 37px;
  }
}

.main-header__logo-mobile {
  display: inline;
  fill: $white-in-various-elements;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-header__logo-mobile:hover {
  fill: $color-for-attention;
}

.main-header__logo-mobile:active {
  opacity: 0.3;
}

.main-header__logo-tablet {
  display: none;
  fill: $white-in-various-elements;

  @media (min-width: $tablet-width) and (max-width: $desktop-width - 1) {
    display: inline;
  }
}

.main-header__logo-tablet:hover {
  fill: $color-for-attention;
}

.main-header__logo-tablet:active {
  opacity: 0.3;
}

.main-header__logo-desktop {
  display: none;

  fill: $white-in-various-elements;

  @media (min-width: $desktop-width) {
    display: inline;
  }
}

.main-header__logo-desktop:hover {
  fill: $color-for-attention;
}

.main-header__logo-desktop:active {
  opacity: 0.3;
}

.main-header__menu-button {
  position: relative;
  width: 50px;
  height: 24px;
  cursor: pointer;
  border: none;
  background-color: inherit;
  background-image: url("../img/icon-menu-burger.svg");

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.main-header__close-menu-button {
  position: relative;
  width: 24px;
  height: 24px;
  cursor: pointer;
  border: none;
  background-color: inherit;
  background-image: url("../img/icon-menu-cross.svg");

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.main-header__list {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  align-items: center;
  justify-content: center;

  @media (min-width: $desktop-width) {
    flex-direction: row;
    margin: 0;
    padding: 0;
    margin-right: -8px;
    justify-content: flex-start;
  }
}

.main-header__item {
  position: relative;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
  justify-content: center;
  align-items: center;

  &::after {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 1px;
    content: "";
    box-shadow: inset 0 1px 0 rgba($white-in-various-elements, 0.15);

    @media (min-width: $desktop-width) {
      display: none;
    }
  }
}

.main-header__item:last-child {
  &::before {
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 1px;
    content: "";
    box-shadow: inset 0 2px 0 rgba($dark-on-white, 0.15);

    @media (min-width: $desktop-width) {
      display: none;
    }
  }
}

.main-header__link {
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
  display: block;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: $grey-in-various-elements;

  @media (min-width: $desktop-width) {
    font-weight: 400;
    text-transform: none;
  }

  &:hover {
    color: $color-for-attention;
  }

  &:active {
    color: rgba($white-in-various-elements, 0.3);
  }
}

.main-header__link--active {
  border-bottom: 1px solid $white-in-various-elements;
}
