.map {
  position: relative;
  overflow: hidden;
  @media (min-width: $tablet-width) {
    max-height: 719px;
    padding-top: 55px;
  }
  @media (min-width: $desktop-width) {
    max-height: 687px;
    padding-top: 88px;
    padding-bottom: 94px;
  }
}

.map__marker {
  position: absolute;
  top: 510px;
  left: 142px;
  width: 36px;
  height: 36px;
  content: "";
  @media (min-width: $tablet-width) {
    top: 595px;
    left: 312px;
  }
  @media (min-width: $desktop-width) {
    top: 629px;
    left: 462px;
  }
}

.map__img {
  width: 320px;
  height: 645px;
  margin: 0;
  margin-top: -28px;
  padding: 0;
  @media (min-width: $tablet-width) {
    width: 700px;
    height: 848px;
    margin-top: 0;
    margin-left: -20px;
  }
  @media (min-width: $desktop-width) {
    width: 1200px;
    height: 976px;
    margin-left: -120px;
  }
}
