.photo-editor {
  background-color: $grey-in-various-elements;

  @media (min-width: $desktop-width) {
    background-color: inherit;
    width: 960px;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

.photo-editor__wrapper {
  box-sizing: border-box;
  padding-top: 20px;
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    padding-top: 56px;
    padding-bottom: 12px;
  }

  @media (min-width: $desktop-width) {
    background-color: $background-dark;
    padding-bottom: 16px;
    padding-left: 80px;
  }
}

.photo-editor__form {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
    //margin-bottom: 10px;
    box-sizing: border-box;
  }
}

.photo-editor__controls-wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: column;
    justify-content: flex-start;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 46px;
    flex-direction: column;
    justify-content: space-between;
  }
}

.photo-editor__range-controls-wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
    padding-top: 2px;
    padding-left: 22px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 128px;
    padding-left: 5px;
  }
}

.photo-editor__image {
  margin: 0;
  padding: 0;
  display: block;
  margin-bottom: 41px;

  @media (min-width: $tablet-width) {
    width: 300px;
    height: 400px;
  }

  @media (min-width: $desktop-width) {
    width: 300px;
    height: 400px;
    margin-right: 90px;
  }
}

.photo-editor__button-list {
  display: flex;
  flex-direction: row;
  margin: 0;
  margin-bottom: 17px;
  padding: 0;
  padding-right: 44px;
  padding-left: 33px;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    padding-top: 10px;
    margin-left: -2px;
    flex-direction: column;
    justify-content: flex-start;
    padding-right: 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin-top: -2px;
    margin-right: 47px;
  }
}

.photo-editor__button-item {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
    margin-bottom: 48px;
    position: relative;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    padding-top: 17px;
    box-sizing: border-box;
    position: relative;
    margin-bottom: 22px;
  }

  &::after {
    @media (min-width: $tablet-width) {
      position: absolute;
      background-color: $photo-editor-separators;
      content: "";
      height: 1px;
      top: 41px;
      left: -23px;
      width: 268px;
    }

    @media (min-width: $desktop-width) {
      top: 58px;
      left: 0;
      width: 410px;
    }
  }
}

.photo-editor__button-wrapper {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    flex-direction: column;
    justify-content: space-between;
    padding-left: 0;
    padding-right: 12px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
    padding-right: 0;
    flex-direction: row;
    justify-content: space-between;
  }
}

.photo-editor__button-wrapper:first-child {
  margin-bottom: 12px;
}

.photo-editor__button {
  width: 44px;
  height: 44px;
  cursor: pointer;
  border: none;

  @media (min-width: $tablet-width) {
    margin-top: -5px;
    width: 24px;
    height: 24px;
  }
}

.photo-editor__button:focus {
  outline: none;
}

.photo-editor__button--crop {
  background-color: inherit;

  @media (min-width: $tablet-width) {
    width: 24px;
    height: 24px;
  }
}

.photo-editor__svg-crop {
  @media (min-width: $tablet-width) {
    width: 24px;
    height: 24px;
    margin-top: -12px;
    margin-left: -54px;
  }

  @media (min-width: $desktop-width) {
    margin-top: -23px;
    margin-left: -8px;
    width: 44px;
    height: 44px;
  }
}

.photo-editor__button--gamma {
  background-color: inherit;
}

.photo-editor__svg-gamma {
  @media (min-width: $tablet-width) {
    width: 24px;
    height: 24px;
    margin-top: -6px;
    margin-left: -54px;
  }

  @media (min-width: $desktop-width) {
    width: 44px;
    height: 44px;
    margin-top: -14px;
    margin-left: -4px;
  }
}

.photo-editor__button--contrast {
  background-color: inherit;
}

.photo-editor__svg-contrast {
  @media (min-width: $tablet-width) {
    width: 24px;
    height: 24px;
    margin-top: -10px;
    margin-left: -50px;
  }

  @media (min-width: $desktop-width) {
    width: 44px;
    height: 44px;
    margin-top: -16px;
    margin-left: -5px;
  }
}

//Начало стилизации рейнджей
.photo-editor__list-range {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    margin-bottom: 46px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    //margin-top: 3px;
  }
}

.photo-editor__item-range {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    margin-bottom: 48px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.photo-editor__item-range--mobile-active {
  @media (max-width: $tablet-width - 1) {
    display: block;
    margin-bottom: 67px;
  }
}

.photo-editor__range {
  margin: 0;
  padding: 0;
  border: none;

  @media (max-width: $tablet-width - 1) {
    padding-left: 18px;
    background-color: $grey-in-various-elements;
  }
}

input[type="range"].photo-editor__range {
  margin: 4px 0;
  appearance: none;

  @media (max-width: $tablet-width - 1) {
    width: 85.8%;
  }

  @media (min-width: $tablet-width) {
    width: 200px;
  }

  @media (min-width: $desktop-width) {
    width: 288px;
  }
}

input[type="range"].photo-editor__range:focus {
  outline: none;
}

input[type="range"].photo-editor__range::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: $blue-grey;
}

input[type="range"].photo-editor__range::-webkit-slider-thumb {
  border: 2px solid $color-for-attention;
  height: 13px;
  width: 13px;
  border-radius: 50px;
  background: $background-dark;
  cursor: pointer;
  appearance: none;
  margin-top: -6px;
}

//Цвет трека при перемещении бегунка
input[type="range"].photo-editor__range:focus::-webkit-slider-runnable-track {
  background: $blue-grey;
}

input[type="range"].photo-editor__range::-moz-range-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  box-shadow: px px px $dark-on-white, px px px $dark-grey;
  background: $blue-grey;
  border-radius: 0;
  border: px solid $background-dark;
}

input[type="range"].photo-editor__range::-moz-range-thumb {
  box-shadow: px px px $dark-on-white, px px px $dark-grey;
  border: 2px solid $color-for-attention;
  height: 10px;
  width: 10px;
  border-radius: 50px;
  background: $background-dark;
  cursor: pointer;
}

input[type="range"].photo-editor__range::-ms-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type="range"].photo-editor__range::-ms-fill-lower {
  background: $blue-grey;
  border: px solid $background-dark;
  border-radius: 0;
  box-shadow: px px px $dark-on-white, px px px $dark-grey;
}

input[type="range"].photo-editor__range::-ms-fill-upper {
  background: $blue-grey;
  border: px solid $background-dark;
  border-radius: 0;
  box-shadow: px px px $dark-on-white, px px px $dark-grey;
}

input[type="range"].photo-editor__range::-ms-thumb {
  border: 2px solid $color-for-attention;
  //height: 10px;
  width: 10px;
  border-radius: 50px;
  background: $background-dark;
  cursor: pointer;
  height: 2px;
}

input[type="range"].photo-editor__range:focus::-ms-fill-lower {
  background: $blue-grey;
}

input[type="range"].photo-editor__range:focus::-ms-fill-upper {
  background: $blue-grey;
}

//конец стиизации рейнджей

.photo-editor__svg-crop,
.photo-editor__svg-gamma,
.photo-editor__svg-contrast {
  fill: $color-for-attention;
}

.photo-editor__svg-crop--status-toggle,
.photo-editor__svg-gamma--status-toggle,
.photo-editor__svg-contrast--status-toggle {
  fill: $photo-editor-buttons-normal;

  @media (min-width: $tablet-width) {
    fill: $color-for-attention;
  }
}

.photo-editor__svg-crop:hover,
.photo-editor__svg-gamma:hover,
.photo-editor__svg-contrast:hover {
  fill: $photo-editor-buttons-hover;
}

.photo-editor__svg-crop:active,
.photo-editor__svg-gamma:active,
.photo-editor__svg-contrast:active {
  fill: $color-for-attention;
}

.photo-editor__gamma-label,
.photo-editor__contrast-label,
.photo-editor__crop-label {
  cursor: pointer;
}
