.pink-logo__tablet-mobile {
  display: none;
  width: 147px;
  height: 40px;
  margin-right: 76px;
  align-self: flex-start;
  fill: $dark-in-various-elements;

  @media (max-width: $tablet-width - 1) {
    margin-right: 0;
    margin-bottom: 43px;
    align-self: center;
  }

  @media (max-width: $desktop-width - 1) {
    display: inline;
  }
}

.pink-logo__tablet-mobile:hover {
  fill: $color-for-attention;
}

.pink-logo__tablet-mobile:active {
  opacity: 0.3;
}

.pink-logo__desktop {
  display: none;

  @media (min-width: $desktop-width) {
    display: inline;
    width: 147px;
    height: 40px;
    margin-right: 240px;
    align-self: flex-start;
    fill: $dark-in-various-elements;
  }
}

.pink-logo__desktop:hover {
  fill: $color-for-attention;
}

.pink-logo__desktop:active {
  opacity: 0.3;
}
