.switches {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  list-style: none;
  justify-content: center;
  align-items: center;
  align-content: center;
}

@media (min-width: $tablet-width) {
  .switches--hide {
    display: none;
  }
}

.switches__item {
  margin-right: 13px;

  @media (min-width: $tablet-width) {
    padding-bottom: 2px;
  }
}

.switches__item:last-child {
  margin-right: 0;
}

.switches__button {
  box-sizing: content-box;
  width: 6px;
  height: 6px;
  padding: 0;
  border: 3px solid $white-in-various-elements;
  border-radius: 50px;
  outline: none;
  background-color: $slider-swithes-light;

  &:hover,
  &:focus {
    background-color: $switches-hover;
  }

  &:active {
    background-color: $switches-active;
  }
}

.switches__button--grey-background {
  border: 3px solid $background-dark;
}

.switches__button--active {
  border: 3px solid $dark-in-various-elements;
  background-color: $grey-in-various-elements;
}
