.switches {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  list-style: none;
}

@media(min-width: $tablet-width) {
  .switches--hide {
    display: none;
  }
}

.switches__item {
  margin-right: 13px;
}

.switches__item:last-child {
  margin-right: 0;
}

.switches__button {
  padding: 0;
  width: 6px;
  height: 6px;
  border-radius: 50px;
  background-color: $slider-swithes-light;
  box-sizing: content-box;
  border: 3px solid $white-in-various-elements;
  outline: none;
  &:hover, &:focus {
    background-color: $switches-hover;
  }
  &:active {
    background-color: $switches-active;
  }
}
.switches__button--grey-background {
  border: 3px solid $background-dark;
}
.switches__button--active {
  border: 3px solid $dark-in-various-elements;
  background-color: $grey-in-various-elements;

}
