.tariff {
  position: relative;
  padding-top: 90px;
  padding-bottom: 43px;
  background-color: $background-dark;

  @media (min-width: $tablet-width) {
    padding-top: 85px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 139px;
    padding-bottom: 68px;
  }
}

.tariff__list {
  display: flex;
  overflow: hidden;
  flex-direction: row;
  margin: 0;
  margin-bottom: 32px;
  padding: 0;
  list-style: none;
  justify-content: center;
}

.tariff__list-item--hidden {
  display: none;

  @media (min-width: $tablet-width) {
    display: table;
  }
}

.tariff__table {
  table-layout: auto;
  border-collapse: collapse;
}

.tariff__table-column {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  width: 276px;
  min-height: 61px;
  margin: 0;
  padding: 0;
  padding-right: 22px;
  padding-left: 22px;
  border: 1px solid $grey-in-various-elements;
  background-color: $white-in-various-elements;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet-width) {
    width: 154px;
    min-height: 47px;
    padding-right: 0;
    padding-left: 0;
  }

  @media (min-width: $desktop-width) {
    width: 235px;
    min-height: 61px;
  }
}

.tariff__table-column--hidden {
  padding-left: 14px;

  @media (min-width: $desktop-width) {
    padding-left: 21px;
  }
}

.tariff__table-column--hidden-top-border {
  border-top-width: 2px;
}

.tariff__table-column--bottom-border {
  border-bottom-width: 2px;
}

.tariff__table-column--caption {
  flex-direction: column;
  min-height: 97px;
  padding-top: 16px;
  text-transform: uppercase;
  color: $grey-in-various-elements;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: $dark-in-various-elements;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: $grey-in-various-elements;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: $dark-in-various-elements;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: $grey-in-various-elements;
  background-color: $dark-in-various-elements;
  justify-content: flex-start;

  @media (min-width: $tablet-width) {
    min-height: 79px;
    padding-top: 10px;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
    font-weight: 700;
    min-height: 98px;
    padding-top: 14px;
  }
}

.tariff__table-column--hidden-caption {
  min-height: 79px;
  border: none;
  outline: none;
  background-color: $background-dark;

  @media (min-width: $desktop-width) {
    min-height: 98px;
  }
}

.tariff__table-hidden-column-text {
  font-size: 14px;
  line-height: 16px;
  margin: 0;
  padding: 0;

  @media (min-width: $desktop-width) {
    font-size: 18px;
  }
}

.tariff__table-column--hit {
  position: relative;

  &::before {
    position: absolute;
    z-index: 2;
    top: -12px;
    left: 17px;
    width: 73px;
    height: 73px;
    content: "ХИТ";
    transform: rotate(-45deg);

    @media (min-width: $tablet-width) {
      top: -19px;
      left: 16px;
    }

    @media (min-width: $desktop-width) {
      font-size: 14px;
      font-weight: 400;
      top: -12px;
      left: 18px;
    }
  }

  &::after {
    position: absolute;
    top: -2px;
    left: -3px;
    width: 73px;
    height: 73px;
    content: "";
    background-image: url("../img/bg-hit.svg");
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-width: $tablet-width) {
      width: 62px;
      height: 62px;
      background-image: url("../img/bg-hit-tablet.svg");
    }

    @media (min-width: $desktop-width) {
      width: 74px;
      height: 73px;
      background-image: url("../img/bg-hit.svg");
    }
  }
}

.tariff__table-caption {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 70px;
    padding-left: 70px;
  }
}

.tariff__table-caption-text {
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
  margin: 0;
  padding: 0;
  text-align: center;
  text-transform: none;

  @media (min-width: $tablet-width) {
    font-size: 18px;
  }

  @media (min-width: $desktop-width) {
    font-size: 24px;
  }
}

.tariff__table-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  color: $dark-in-various-elements;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.tariff__table-text-hidden-column {
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  color: $dark-in-various-elements;
}

.tariff__table-yes-symbol {
  position: relative;

  &::after {
    position: absolute;
    top: -10px;
    left: -24px;
    width: 31px;
    height: 21px;
    content: url("../img/icon-yes.svg");

    @media (min-width: $tablet-width) {
      top: -10px;
      left: 63px;
    }

    @media (min-width: $desktop-width) {
      top: -9px;
      left: 100px;
    }
  }
}

.tariff__table-no-symbol {
  position: relative;

  &::after {
    position: absolute;
    top: -16px;
    left: -24px;
    width: 27px;
    height: 26px;
    content: url("../img/icon-no.svg");

    @media (min-width: $tablet-width) {
      left: 63px;
    }

    @media (min-width: $desktop-width) {
      top: -15px;
      left: 102px;
    }
  }
}
