.footer {
  padding-top: 39px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  @media(min-width: $tablet-width) {
    flex-direction: row;
    justify-content: flex-start;
    padding-top: 36px;
  }
  @media(min-width: $desktop-width) {
    padding-top: 86px;
  }
}

.footer--form-top-padding {
  @media(min-width: $desktop-width) {
    padding-top: 17px;
  }
}

.footer--index-top-padding {
  @media(min-width: $tablet-width) {
    padding-top: 37px;
  }
  @media(min-width: $desktop-width) {
    padding-top: 70px;
  }
}

.footer--mobile {
  display: none;
  @media(min-width: $tablet-width) {
    box-sizing: border-box;
    display: flex;
  }
}

.footer__logo {
  font-weight: 300;
  margin-bottom: 36px;
  width: 147px;
  height: 40px;
  @media(min-width: $tablet-width) {
    margin-right: 74px;
  }
  @media(min-width: $desktop-width) {
    margin-right: 240px;
  }
}

.footer__dev-wrapper {
  align-self: flex-start;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  @media (min-width: $desktop-width) {
    padding-top: 2px;
  }
}

.footer__dev-wrapper--mobile {
  @media (max-width: $tablet-width - 1) {
    align-self: center;
  }
}

.footer__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: $dark-in-various-elements;
  margin-right: 13px;
  @media (min-width: $desktop-width) {
    font-size: 18px;
  }
}



.footer__academy-logo {
  margin: 0;
  padding: 0;
  width: 27px;
  height: 34px;
  margin-top: 10px;
  fill: $color-for-attention;
}

.footer__academy-logo:hover {
  fill: $dark-in-various-elements;
}

.footer__academy-logo:active {
  fill: $slider-swithes-light;
}
