.footer {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding-top: 39px;
  padding-bottom: 50px;
  align-items: center;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    width: 660px;
    margin: 0 auto;
    padding-top: 36px;
    justify-content: flex-start;
  }

  @media (min-width: $desktop-width) {
    width: 960px;
    margin: 0 auto;
    padding-top: 96px;
  }
}

.footer--form-top-padding {
  @media (min-width: $desktop-width) {
    padding-top: 17px;
  }
}

.footer--index-top-padding {
  @media (min-width: $tablet-width) {
    padding-top: 37px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 63px;
  }
}

.footer--mobile {
  display: none;

  @media (min-width: $tablet-width) {
    display: flex;
    box-sizing: border-box;
  }
}

.footer__logo {
  font-weight: 300;
  width: 147px;
  height: 40px;
  margin-bottom: 36px;

  @media (min-width: $tablet-width) {
    margin-right: 74px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 240px;
  }
}

.footer__dev-wrapper {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  align-self: flex-start;
  justify-content: flex-start;
  align-items: center;

  @media (min-width: $desktop-width) {
    padding-top: 2px;
  }
}

.footer__dev-wrapper--mobile {
  @media (max-width: $tablet-width - 1) {
    align-self: center;
  }
}

.footer__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  margin-right: 13px;
  color: $dark-in-various-elements;

  @media (min-width: $desktop-width) {
    font-size: 18px;
  }
}

.footer__academy-logo {
  width: 27px;
  height: 34px;
  margin: 0;
  margin-top: 10px;
  padding: 0;
  fill: $color-for-attention;
}

.footer__academy-logo:hover {
  fill: $dark-in-various-elements;
}

.footer__academy-logo:active {
  fill: $slider-swithes-light;
}

.footer__logo-tablet-mobile {
  display: none;
  width: 147px;
  height: 40px;
  margin-right: 76px;
  align-self: flex-start;
  fill: $dark-in-various-elements;

  @media (max-width: $tablet-width - 1) {
    margin-right: 0;
    margin-bottom: 43px;
    align-self: center;
  }

  @media (max-width: $desktop-width - 1) {
    display: inline;
  }
}

.footer__logo-tablet-mobile:hover {
  fill: $color-for-attention;
}

.footer__logo-tablet-mobile:active {
  opacity: 0.3;
}

.footer__logo-desktop {
  display: none;

  @media (min-width: $desktop-width) {
    display: inline;
    width: 147px;
    height: 40px;
    margin-right: 236px;
    align-self: flex-start;
    fill: $dark-in-various-elements;
  }
}

.footer__logo-desktop:hover {
  fill: $color-for-attention;
}

.footer__logo-desktop:active {
  opacity: 0.3;
}
