.social-buttons {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  margin: 0;
  margin-bottom: 28px;
  padding: 0;
  list-style: none;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    margin-right: 94px;
    padding-top: 5px;

  }

  @media (min-width: $desktop-width) {
    margin-right: 227px;
    padding-top: 6px;
  }
}

.social-buttons__item {
  margin-right: 15px;
}

.social-buttons__item:last-child {
  margin-right: 0;
}

.social-buttons__link {
  display: block;
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  margin: 0;
  padding: 0;
  text-decoration: none;
  border: 2px solid $stroke-panel-social-buttons;
  border-radius: 100%;

  &:hover {
    border: 2px solid $dark-in-various-elements;
  }

  &:active {
    opacity: 0.3;
  }
}

.social-buttons__link--twitter {
  position: relative;

  &::after {
    position: absolute;
    top: 16px;
    left: 14px;
    width: 18px;
    height: 14px;
    content: "";
    background-image: url("../img/icon-twitter.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.social-buttons__link--fb {
  position: relative;

  &::after {
    position: absolute;
    top: 10px;
    left: 17px;
    width: 9px;
    height: 18px;
    content: "";
    background-image: url("../img/icon-facebook.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.social-buttons__link--youtube {
  position: relative;

  &::after {
    position: absolute;
    top: 14px;
    left: 15px;
    width: 15px;
    height: 13px;
    content: "";
    background-image: url("../img/icon-youtube.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}
