.button-oval {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding-top: 15px;
  padding-bottom: 17px;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  text-decoration: none;
  border-radius: 100px;
  cursor: pointer;
  &:hover {
    color: $color-for-attention;
    background-color: $white-in-various-elements;
  }
  &:active {
    color: rgba($color-for-attention, 0.3);
  }
}

.button-oval--download {
  border: 3px solid $white-in-various-elements;
  color: $white-in-various-elements;
  background-color: transparent;
  margin-bottom: 32px;
  @media(min-width: $tablet-width) {
    margin-bottom: 46px;
  }
  @media(min-width: $desktop-width) {
    margin-bottom: 67px;
    font-size: 21px;
  }
}

.button-oval--photo-editor {
  color: $color-for-attention;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  border: 3px solid $color-for-attention;
  background-color: $background-dark;
  @media(min-width: $desktop-width) {
    padding-left: 42px;
    padding-right: 42px;
  }
  &:hover {
    background-color: $color-for-attention;
    color: $white-in-various-elements;
  }
  &:active {
    color: rgba($white-in-various-elements, 0.3);
  }
}
.button-oval--photo-editor-cancel {
  @media(min-width: $desktop-width) {
    padding-left: 54px;
    padding-right: 54px;
  }
}
.button-oval--disabled {
  color: rgba($dark-in-various-elements, 0.1);
  border: 3px solid rgba($dark-in-various-elements, 0.1);
  margin-top: 12px;
  outline: none;
  &:hover {
    border: 3px solid rgba($dark-in-various-elements, 0.3);
    color: rgba($dark-in-various-elements, 0.3);
    background-color: transparent;
  }
  &:active {
    border: 3px solid rgba($dark-in-various-elements, 0);
    color: rgba($white-in-various-elements, 0.3);
    background-color: rgba($dark-in-various-elements, 0.3);
  }
  @media(min-width: $tablet-width) {
    margin-top: 24px;
  }
  @media(min-width: $desktop-width) {
    margin-top: 0;
  }
}
