.comments {
  padding-top: 49px;
  margin-bottom: 43px;
}

.comments__list {
  margin: 0;
  padding: 0;
  margin-bottom: 43px;
  list-style: none;
}
.comments__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.comments__caption {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 700;
  text-align: center;

  @media(min-width: $tablet-width) {
  order: 2;
  }
}

.comments__text {
  text-align: center;
  color: $dark-on-white;
  line-height: 30px;
  @media(min-width: $tablet-width) {
    order: 1;
  }
}
