$dark-on-white: #000000;
$color-for-attention: #d22856;
$menu-and-download-back: #1d2631;
$grey-in-various-elements: #e5e5e5;
$background-dark: #f2f2f2;
$slider-swithes-light: #bec2c7;
$dark-in-various-elements: #283645;
$white-in-various-elements: #ffffff;
$stroke-panel-social-buttons: #e9ebec;
