.footer {
  padding-top: 33px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  @media(min-width: $tablet-width) {
    flex-direction: row;
    justify-content: flex-start;
  }
  @media(min-width: $desktop-width) {
    padding-top: 69px;
  }
}


.footer--mobile {
  display: none;
  @media(min-width: $tablet-width) {
    box-sizing: border-box;
    display: flex;
  }
}

.footer__logo {
  font-weight: 300;
  margin-bottom: 43px;
  @media(min-width: $tablet-width) {
    margin-right: 74px;
  }
  @media(min-width: $desktop-width) {
    margin-right: 235px;
  }
}

.footer__dev-wrapper {
  margin: 0;
  padding: 0;
  //min-width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}


.footer__academy-logo {
  width: 27px;
  height: 34px;
}
