.main-header {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: $menu-and-download-back;
  @media(min-width: $desktop-width) {
    flex-direction: row;
  }
}

.main-header__logo-wrapper {
  //display: block;
  padding-top: 22px;
  padding-bottom: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}

.main-header__menu-button {
  width: 50px;
  height: 24px;
  border: none;
  position: relative;
  cursor: pointer;
  background-image: url("../img/icon-menu-burger.svg");
  background-color: inherit;
  @media(min-width: $desktop-width) {
    display: none;
  }

}

.main-header__close-menu-button {
  width: 24px;
  height: 24px;
  border: none;
  position: relative;
  cursor: pointer;
  background-image: url("../img/icon-menu-cross.svg");
  background-color: inherit;
  @media(min-width: $desktop-width) {
    display: none;
  }
}

.main-header__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.main-header__item {
  width: auto;
  padding-top: 16px;
  padding-bottom: 16px;
  //padding-left: 20px;
  //padding-right: 20px;
  box-sizing: border-box;
}

.main-header__link {
  display: block;
  //margin-top: 25px;
  //margin-bottom: 32px;
  color: $grey-in-various-elements;
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
  text-transform: uppercase;
  text-decoration: none;
}

.main-header__list {
  display: flex;
  flex-direction: column;
  @media(min-width: $desktop-width) {
    flex-direction: row;
  }
}
