.page-header {
  padding: 0;
  margin: 0;
  text-align: center;
  margin-bottom: 33px;
}

.page-header__upper-part {
  padding: 0;
  margin: 0;
  padding-top: 12px;
  //padding-bottom: 65px;
  min-height: 170px;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-position: top -64px center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  box-sizing: border-box;
  @media(min-width: $tablet-width) {
    padding-top: 30px;
    padding-bottom: 99px;
  }
}

.page-header__caption {
  color: $grey-in-various-elements;
  font-size: 24px;
  font-weight: 300;
  line-height: 28px;
  padding-left: 40px;
  padding-right: 40px;
  @media(min-width: $tablet-width) {
    font-size: 50px;
    line-height: 58px;
  }
}

.page-header__lower-part {
  padding-top: 46px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: white;
  @media (min-width: $tablet-width) {
    padding-top: 94px;
    padding-bottom: 25px;
  }
}

.page-header__text {
  margin: 0;
  padding: 0;
  line-height: 30px;
  color: $dark-on-white;
  text-align: center;
  font-size: 14px;
  font-stretch: semi-condensed;
  @media (min-width: $tablet-width) {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
  }
}
.page-header__text-disappearing {
  display: none;
  @media(min-width: $tablet-width) {
    display: block;
  }
}

.page-header__text br {
  display: none;
  @media(min-width: $tablet-width) {
    display: block;
  }
}
