.page-header {
  margin: 0;
  margin-bottom: 33px;
  padding: 0;
  text-align: center;
}

.page-header--form {
  @media(min-width: $tablet-width) {
    margin-bottom: 44px;
  }
}

.page-header__upper-part {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  min-height: 170px;
  margin: 0;
  padding: 0;
  padding-top: 12px;
  background-image: url('../img/bg-back-mobile@1x.jpg');
  background-repeat: no-repeat;
  background-position: top -64px center;
  background-size: cover;
  justify-content: center;
  align-items: flex-start;
  @media(min-width: $tablet-width) {
    padding-top: 30px;
    padding-bottom: 42px;
    background-image: url('../img/bg-back-tablet@1x.jpg');
    background-repeat: no-repeat;
    background-position: top center;
  }
  @media(min-width: $desktop-width) {
    padding-top: 132px;
    padding-bottom: 64px;
    background-image: url('../img/bg-back-desktop@1x.jpg');
    background-position: top center;
  }
}

.page-header__upper-part--form {
  @media(min-width: $tablet-width) and (max-width: $tablet-width - 1){
    padding-bottom: 42px;
  }
}

.page-header__caption {
  font-size: 24px;
  font-weight: 300;
  line-height: 28px;
  padding-right: 40px;
  padding-left: 40px;
  color: $grey-in-various-elements;
  @media(min-width: $tablet-width) {
    font-size: 50px;
    line-height: 58px;
  }
}

.page-header__lower-part {
  padding-top: 46px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: white;
  @media (min-width: $tablet-width) {
    padding-top: 93px;
    padding-bottom: 25px;
  }
  @media (min-width: $desktop-width) {
    padding-top: 92px;
    padding-right: 190px;
    padding-left: 190px;
  }
}

.page-header__lower-part--form {
  @media (min-width: $desktop-width) {
    padding-right: 100px;
    padding-left: 100px;
  }
}

.page-header__text {
  font-size: 14px;
  font-stretch: semi-condensed;
  line-height: 30px;
  margin: 0;
  padding: 0;
  text-align: center;
  color: $dark-on-white;
  @media (min-width: $tablet-width) {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
  }
}

.page-header__text-disappearing {
  display: none;
  @media(min-width: $tablet-width) {
    display: block;
  }
  @media(min-width: $desktop-width) {
    display: inline;
  }
}

.page-header__text br {
  display: none;
  @media(min-width: $tablet-width) {
    display: block;
  }
  @media (min-width: $desktop-width) {
    display: none;
  }
}
