.photo {
  padding: 0 auto;
  margin: 0 auto;
  padding-bottom: 43px;
  box-sizing: border-box;
}

.photo__list {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  padding-top: 16px;
  list-style: none;
  box-sizing: border-box;
  outline: 1px solid red;

  @media(min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 20px;
    margin-right: 20px;
    //align-items: stretch;
    //align-content: stretch;
  }
}

.photo__item {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  @media(min-width: $tablet-width) {
    flex-grow: 1;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    //align-items: stretch;
    //align-content: stretch;
  }
  @media(min-width: $desktop-width) {
    width: 30%;
  }
}

.photo__item:nth-child(even) {
  @media(min-width: $tablet-width) {
    outline: 1px solid blue;
  }
}

.photo__item--panorama {
  @media(min-width: $tablet-width) {
    width: 100%;
  }
}
