.photo {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 auto;
  padding-bottom: 43px;

  @media(min-width: $tablet-width) {
    padding-bottom: 70px;
  }
  @media(min-width: $desktop-width) {
    padding-bottom: 66px;
  }
}

.photo__list {
  box-sizing: border-box;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  padding-top: 16px;
  list-style: none;
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    margin-bottom: 51px;
    margin-right: 20px;
    margin-left: 20px;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  @media (min-width: $desktop-width) {
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 2px;
  }
}

.photo__item {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  @media(min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    width: 300px;
    //flex-grow: 1;
    justify-content: flex-start;
    //align-items: stretch;
    //align-content: stretch;
  }
  @media(min-width: $desktop-width) {
    width: 32%;
  }
}

//.photo__item:nth-child(even) {
//  @media(min-width: $tablet-width) {
//    outline: 1px solid blue;
//  }
//}

.photo__item--panorama {
  @media(min-width: $tablet-width) {
    width: 100%;
    margin-bottom: 25px;
  }
  @media(min-width: $desktop-width) {
    width: 100%;
    margin-bottom: 31px;
    padding-top: 13px;
  }
}

.photo__item--margin-bottom {
  margin-bottom: 20px;
}

.photo__text-wrapper {
  padding-left: 20px;
  padding-right: 20px;
}
.photo__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  @media (min-width: $tablet-width) {
    font-size: 18px;

  }

}
