.photo-editor {
  padding-top: 20px;
  padding-bottom: 40px;
  background-color: $background-dark;
}

.photo-editor__form {
  @media(min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.photo-editor__image {
  margin-bottom: 35px;
}

.photo-editor__list {
  display: flex;
  flex-direction: row;
  margin: 0;
  margin-bottom: 28px;
  padding: 0;
  padding-right: 20px;
  padding-left: 20px;
  list-style: none;
  justify-content: space-around;
  align-items: center;
  @media(min-width: $tablet-width) {
    flex-direction: column;
    justify-content: space-between;
  }
}

.photo-editor__item {
  @media(min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.photo-editor__button-wrapper {
  display: flex;
  flex-direction: column;
  @media(min-width: $tablet-width) {
    flex-direction: column;
    justify-content: space-between;
  }

  @media(min-width: $desktop-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.photo-editor__button-wrapper:first-child {
  margin-bottom: 12px;
}

.photo-editor__button {
  width: 44px;
  height: 44px;
  cursor: pointer;
  border: none;
}

.photo-editor__button--crop {
  position: relative;
  background-color: inherit;
  &::after {
    position: absolute;
    top: -2px;
    left: -2px;

    content: url('../img/icon-editor-crop.svg');
  }
}

.photo-editor__button--gamma {
  position: relative;
  background-color: inherit;
  &::after {
    position: absolute;
    top: -1px;
    left: -2px;
    content: url('../img/icon-editor-fill.svg');
  }
}

.photo-editor__button--contrast {
  position: relative;
  background-color: inherit;
  &::after {
    position: absolute;
    top: 5px;
    left: 6px;
    content: url('../img/icon-editor-contrast.svg');
  }
}

.photo-editor__range {
  margin-bottom: 32px;
  border: none;
}

.photo-editor__range--crop,
.photo-editor__range--gamma,
.photo-editor__range--contrast {
  @media(max-width: $tablet-width) {
    display: none;
  }
}

.photo-editor__range--mobile {
  @media(min-width: $tablet-width) {
    display: none;
  }
}

.photo-editor__range-controls {
  position: relative;
}

.photo-editor__scale {
  width: 240px;
  height: 2px;
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto;
  background: $dark-on-white;
}

.photo-editor__toggle {
  position: absolute;
  top: -6px;
  width: 10px;
  height: 10px;
  cursor: pointer;
  border: 2px solid $color-for-attention;
  border-radius: 50%;
  background-color: $grey-in-various-elements;
}

.photo-editor__range-item {
  margin: 0;
  padding: 0;
  border: none;
}

.photo-editor__toggle--position {
  left: 200px;
}
