.pink-info {
  width: 100%;
  padding-top: 40px;
  @media(min-width: $tablet-width) {
    padding-top: 48px;
  }
}

.pink-info__slogan-wrapper {
  padding-left: 20px;
  padding-right: 20px;
  @media(min-width: $tablet-width) {
    order: 2;
    padding-bottom: 50px;
  }
}

.pink-info__slogan {
  margin: 0;
  padding: 0;
  font-size: 24px;
  text-align: center;
  font-weight: 300;
  line-height: 29px;
  margin-bottom: 29px;

  @media(min-width: $tablet-width)  {
    font-size: 40px;
    line-height: 49px;
    margin-bottom: 0;
  }
}
  @media(min-width: $desktop-width) {
    display: none;
    font-size: 50px;
    line-height: 60px;
}

.pink-info__slogan br {
  display: none;
  @media(min-width: $tablet-width) and (max-width: $desktop-width - 1) {
    display: block;
  }
}


.pink-info__list-wrapper {
  padding-top: 67px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 286px;
  background-color: $background-dark;
  position: relative;
  overflow: hidden;
  @media(min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 20px;
  }

  @media(min-width: $desktop-width) {
    flex-wrap: wrap;
  }
  &::after {
    position: absolute;
    width: 157px;
    height: 320px;
    content: url("../img/iphone-screen-mobile@1x.png");
    bottom: -42px;
    left: 82px;

    @media(min-width: $tablet-width) {
      display: none;
    }
  }
}
.pink-info__mobile {
  display: none;

  @media(min-width: $tablet-width) {
    display: block;
    order: 1;
  }

  @media(min-width: $desktop-width) {
    display: none;
  }
}
.pink-info__list {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;

  @media(min-width: $tablet-width) {
    order: 2;
    padding-top: 55px;
  }

  @media(min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.pink-info__item {
  margin-bottom: 32px;
  @media(min-width: $tablet-width) {
    padding-left: 42px;
    margin-bottom: 35px;
  }
  @media(min-width: $desktop-width) {
    flex-grow: 1;

  }
}

.pink-info__screen {
  display: none;
  @media(min-width: $desktop-width) {
    display: block;
  }
}

.pink-info__item-header {
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  margin-bottom: 10px;
  color: $dark-on-white;
  @media(min-width: $tablet-width) {
    text-align: left;
  }
}

.pink-info__item-text {
  @media(min-width: $tablet-width) {
    text-align: left;
    line-height: 24px;
  }
}
