.svg__map-lug {
  position: absolute;
  left: 0;
  top: 0;
  width: 320px;
  height: 34px;
  fill: #ffffff;
  @media (min-width: $tablet-width) {
    preserveAspectRatio: xMinYMid;
    width: 660px;
    fill: red;
  }
}
