.tariff {
  position: relative;
  padding-top: 86px;
  padding-bottom: 40px;
  background-color: $background-dark;
  @media(min-width: $tablet-width) {
    padding-top: 60px;
  }
  @media(min-width: $desktop-width) {
    padding-top: 81px;
    padding-bottom: 62px;
  }
}

.tariff__list {
  display: flex;
  overflow: hidden;
  flex-direction: row;
  margin: 0;
  margin-bottom: 32px;
  padding: 0;
  list-style: none;
  justify-content: center;
}

.tariff__list-item--hidden {
  display: none;
  @media(min-width: $tablet-width) {
    display: table;
  }
}

.tariff__table {
  table-layout: auto;
  border-collapse: collapse;
}

.tariff__table-column {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  width: 276px;
  min-height: 61px;
  margin: 0;
  padding: 0;
  padding-right: 22px;
  padding-left: 22px;
  border: 1px solid $grey-in-various-elements;
  justify-content: space-between;
  align-items: center;
  @media(min-width: $tablet-width) {
    width: 154px;
    min-height: 47px;
    padding-right: 0;
    padding-left: 0;
  }
  @media(min-width: $desktop-width) {
    width: 235px;
    min-height: 61px;
  }
}

.tariff__table-column--hidden {
  padding-left: 14px;
  @media(min-width: $desktop-width) {
    padding-left: 21px;
  }
}

.tariff__table-column--caption {
  flex-direction: column;
  min-height: 79px;
  padding-top: 16px;
  text-transform: uppercase;
  color: $grey-in-various-elements;
  border: 2px solid $dark-in-various-elements;
  background-color: $dark-in-various-elements;
  justify-content: flex-start;
  @media(min-width: $tablet-width) {
    padding-top: 10px;
  }
  @media(min-width: $desktop-width) {
    font-size: 18px;
    font-weight: 700;
    min-height: 98px;
    padding-top: 14px;
  }
}

.tariff__table--hidden-caption {
  min-height: 79px;
  border: none;
  outline: none;
  background-color: $background-dark;
  @media(min-width: $desktop-width) {
    min-height: 97px;
  }
}

.tariff__table-hidden-column-text {
  font-size: 14px;
  line-height: 16px;
  margin: 0;
  padding: 0;
  @media(min-width: $desktop-width) {
    font-size: 18px;
  }
}

.tariff__table-column--hit {
  position: relative;
  &::after {
    position: absolute;
    top: -2px;
    left: -2px;
    content: "";
    background-image: url('../img/bg-hit.svg');
    background-repeat: no-repeat;
    background-size: cover;
    @media(min-width: $tablet-width) {
      width: 62px;
      height: 62px;
    }
    @media(min-width: $desktop-width) {
      width: 74px;
      height: 73px;
    }
  }
}

.tariff__table-caption {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  margin: 0;
  padding: 0;
  @media(min-width: $tablet-width) {
    font-size: 16px;
  }
  @media(min-width: $desktop-width) {
    padding-right: 70px;
    padding-left: 70px;
  }
}

.tariff__table-caption-text {
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
  margin: 0;
  padding: 0;
  text-align: center;
  text-transform: none;
  @media(min-width: $tablet-width) {
    font-size: 18px;
  }
  @media(min-width: $desktop-width) {
    font-size: 24px;
  }
}

.tariff__table-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  color: $dark-in-various-elements;
  @media(min-width: $tablet-width) {
    display: none;
  }
}

.tariff__table-text-hidden-column {
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  color: $dark-in-various-elements;
}

.tariff__table-yes-symbol {
  position: relative;
  &::after {
    position: absolute;
    top: -6px;
    left: -21px;
    width: 31px;
    height: 21px;
    content: url(../img/icon-yes.svg);
    @media(min-width: $tablet-width) {
      left: 65px;
    }
    @media(min-width: $tablet-width) {
      left: 104px;
    }
  }
}

.tariff__table-no-symbol {
  position: relative;
  &::after {
    position: absolute;
    top: -16px;
    left: -24px;
    width: 27px;
    height: 26px;
    content: url(../img/icon-no.svg);
    @media(min-width: $tablet-width) {
      left: 63px;
    }
    @media(min-width: $tablet-width) {
      left: 103px;
    }
  }
}
