.tariff {
  overflow: hidden;
  padding-top: 87px;
  padding-bottom: 40px;
  background-color: $background-dark;
}

.tariff__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 32px;
  list-style: none;
}

@media(max-width: $tablet-width) {
  .tariff__list-item--hidden {
    display: none;
  }
}

.tariff__table {
  display: table;
  table-layout: auto;
  border-collapse: collapse;
}

.tariff__table-column {
  margin: 0;
  padding: 0;
  width: 276px;
  min-height: 61px;
  border: 1px solid $grey-in-various-elements;
  padding-left: 22px;
  padding-right: 22px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;

  @media(min-width: $tablet-width) {
    width: auto;
  }
}

.tariff__table-column--caption {
  min-height: 98px;
  padding-top: 16px;
  background-color: $dark-in-various-elements;
  border: 2px solid $dark-in-various-elements;
  color: $grey-in-various-elements;
  flex-direction: column;
  justify-content: flex-start;
  text-transform: uppercase;
}


.tariff__table--hidden-caption {
  background-color: $background-dark;
  border: none;
  outline: none;
  min-height: 94px;
}

.tariff__table-column--hit {
  position: relative;
  &::after {
    position: absolute;

    content: "";
    background-image: url("../img/bg-hit.svg");
    background-size: cover;
    background-repeat: no-repeat;
    left: -2px;
    top: -2px;
    @media(min-width: $tablet-width) {
      width: 62px;
      height: 62px;
    }
    @media(min-width: $desktop-width) {
      width: 74px;
      height: 73px;
    }
  }
}

.tariff__table-caption {
  margin: 0;
  padding: 0;
  //text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  //margin-bottom: 0;


  @media(min-width: $tablet-width) {
    padding-left: 35px;
    padding-right: 35px;
  }
  @media(min-width: $desktop-width) {
    padding-left: 70px;
    padding-right: 70px;
  }
}

.tariff__table-caption-text {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 24px;
  font-weight: 300;
  text-transform: none;
  line-height: 30px;
}

.tariff__table-text {
  color: #283645;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  @media(min-width: $tablet-width) {
    display: none;
  }
 }

.tariff__table-text-hidden-column {
  color: #283645;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
}

.tariff__table-yes-symbol {
  position: relative;
  &::after {
    position: absolute;
    width: 31px;
    height: 21px;
    content: url("../img/icon-yes.svg");
    left: -21px;
    top: -6px;
    @media(min-width: $tablet-width) {
      left: 41px;
    }
  }
}

.tariff__table-no-symbol {
  position: relative;
  &::after {
    position: absolute;
    width: 27px;
    height: 26px;
    content: url("../img/icon-no.svg");
    left: -24px;
    top: -16px;
    @media(min-width: $tablet-width) {
      left: 41px;
    }
  }
}
